%% vim:set softtabstop=4 shiftwidth=4 tabstop=4:
[	{sasl, [
		%% minimise shell error logging
		{sasl_error_logger, {file, "/home/erlang/fs/fs.log"}},
		%% what to log
		{errlog_type, all},
		%% rotating logs
		{error_logger_mf_dir, "/home/erlang/fs/log"},
		{error_logger_mf_maxbytes, 10485760}, % 10 MB
		{error_logger_mf_maxfiles, 10}
	]}
].
