%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [
  {mochiweb
    , ".*"
    , {git, "git://github.com/mochi/mochiweb.git", ""}
  },
  {mysql
    , ".*"
    , {git, "https://github.com/JoelPM/erlang-mysql-driver.git", ""}
  },
  {erlydtl
    , ".*"
    , {git, "https://github.com/evanmiller/erlydtl.git", ""}
  }
]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
